/* Write your CSS here */
.bg1 {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}
.bg2 {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.bg3 {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}
.add-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70%;
  width: 100%;
}
.hr-bg {
  width: 100%;
}
.h-bg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 15%;
}
.h1 {
  color: #1e293b;
  font-size: 60px;
}
.tech-para {
  color: #475569;
  font-size: 20px;
  font-weight: 600;
}
.inp1 {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #dee0e3;
  margin-bottom: 8px;
}
.form-bg {
  display: flex;
  flex-direction: column;
}
.i1 {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.btn {
  background-color: #0284c7;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
}
.comment-bg {
  width: 20%;
}
.comment-count {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.count-bg {
  background-color: #0284c7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  color: #ffffff;
}
.p1 {
  color: #ffffff;
}
.p2 {
  color: #0284c7;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
.unList-bg {
  width: 100%;
  height: 100%;
}
